*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

html{
    height: 100%;
    width: 100%;
    background-color: grey;
}


body{
    display: grid;
    grid-template-rows: repeat(3, 20% 60% 20%);
    padding: 0;
    margin: 0;  /*remove padding and margin so background fills entire screen*/
    height: 100%;
    width: 100%;
}

.table-container {
    /* display: none; */
    display: flex;
    grid-row: 2;

    justify-content: center;
    align-content: center;
    border-collapse: collapse;
    font-size: 2rem;
    font-weight: 600; 
    width: 20em;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
}


.box {
    border: 10px rgb(226, 226, 226) solid;
    color: black;
    width: 2em;
    height: 1.5em;
    font-size: 5rem;
    text-align: center;
    cursor: default;
  
}